<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	        <rewrite>
            <rules>
                <clear />
                <rule name="Rewriter" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{R:1}" matchType="Pattern" pattern="^(index\\.php|favicon\\.ico)" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
            </authentication>
        </security>
        <handlers>
            <remove name="PHP via FastCGI" />
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP-8.3.2-PROD\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.php" />
                <add value="index.php" />
                <add value="default.aspx" />
                <add value="maintenance.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
