# URL de l'API Symfony
NEXT_PUBLIC_API_URL=http://techl5599:9000/api

# URL de l'application frontend
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Environnement
NODE_ENV=production

NEXT_REVALIDATE_DEFAULT=21600   # 6 heures
NEXT_REVALIDATE_DYNAMIC=7200    # 2 heures