# URL de l'API Symfony
NEXT_PUBLIC_API_URL=http://techl5599:8000/api

# URL de l'application frontend
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Environnement
NODE_ENV=development

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=