# URL de l'API Symfony
NEXT_PUBLIC_API_URL=http://localhost/api
NEXT_PUBLIC_API_VERSION=v1

# URL de l'application frontend
NEXT_PUBLIC_APP_URL=http://localhost

# Environnement
NODE_ENV=production

NEXT_REVALIDATE_DEFAULT=21600   # 6 heures
NEXT_REVALIDATE_DYNAMIC=7200    # 2 heures

NEXT_PUBLIC_AUTH_TTL_MS=3600000;