###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=************
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="oci8://db_user:db_password@127.0.0.1:1521/service_name"
###< doctrine/doctrine-bundle ###

###< soap/wsdl_path ###
# PREVIEW
SOAP_URL="http://techn5292.eu.techem.corp:8083/Main.asmx?wsdl"
# DEMO
#SOAP_URL="http://techn5292.eu.techem.corp:8081/Main.asmx?wsdl"
# PROD
#SOAP_URL="http://techn5292.eu.techem.corp/Main.asmx?wsdl"
###< soap/wsdl_path ###

###< php/oci_connect ###
ORACLE_DSN="//127.0.0.1:1521/service_name"
ORACLE_USER="db_user"
ORACLE_PASSWORD="db_password"
###< php/oci_connect ###

###> API/FAKER_MODE ###
API_CALL_FAKER=false
###< API/FAKER_MODE ###

NEXT_PUBLIC_AUTH_TTL_MS=3600000;
