<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Rewriter" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{R:1}" pattern="^(app\\.php|favicon\\.ico)" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="app.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
		   <staticContent>
			 <remove fileExtension=".woff" />
			 <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			 <remove fileExtension=".woff2" />
			 <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			 <remove fileExtension=".otf" />
			 <mimeMap fileExtension=".otf" mimeType="application/x-font-otf" />
   </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Strict-Transport-Security" value="max-age=31536000;includSubDomains;preload" />
				<!--<add name="X-Frame-Options" value="SAMEORIGIN" />	-->
                <add name="Content-Security-Policy" value="     default-src * 'self';     img-src 'self' data:;     font-src 'self' *.gstatic.com *.bootstrapcdn.com ;     script-src 'self' *.cloudflare.com *.chartjs.org *.gstatic.com *.google.com *.datatables.net *.jsdelivr.net *.chartjs.org 'unsafe-inline' 'unsafe-eval';     style-src 'self' *.gstatic.com *.googleapis.com *.bootstrapcdn.com *.datatables.net *.jsdelivr.net 'unsafe-inline';     frame-ancestors 'self' https://*.residences-orleanais.fr ;     " />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="maintenance.html" />
                <add value="app.php" />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
                <basicAuthentication enabled="false" />
            </authentication>
			<requestFiltering>
				<requestLimits maxUrl="4096" />
			</requestFiltering>

        </security>
        <handlers>
            <remove name="PHP via FastCGI" />
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP-PROD\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <system.web>
		<httpRuntime maxRequestLength="40960" executionTimeout="600" />
        <customErrors mode="Off" />
    </system.web>
</configuration>
