@import "neat/neat-helpers";

$mobile: new-breakpoint(max-width 767px 4);
$tablet: new-breakpoint(max-width 991px 8);
$tabletOnly: new-breakpoint(min-width 768px max-width 991px 8);
$desktop: new-breakpoint(min-width 992px 12);
$notMobile: new-breakpoint(min-width 768px 8);
$smallDesktop: new-breakpoint(max-width 1100px 8);